form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -2rem;
}

input {
  background: var(--gray-500);
  color: var(--gray-100);
  box-sizing: border-box;
  width: 638px;
  height: 52px;
  border: 1px solid #0d0d0d;
  border-radius: 8px;

  padding-left: 10px;
  display: flex;
}

button {
  background: var(--blue-dark);
  width: 90px;
  height: 52px;
  border-radius: 8px;
  font-weight: bolder;
}
